/*@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "Museo Sans Cyrl 700";

  src: url("../assets/fonts/MUSEOSANSCYRL_3.OTF") ("opentype");
}


@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "Museo Sans Cyrl -500";

  src: url("../assets/fonts/MUSEOSANSCYRL_2.OTF") ("opentype");
}

@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "Museo Sans Cyrl -300";

  src: url("../assets/fonts/MUSEOSANSCYRL_1.OTF") ("opentype");
}

@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "Museo Sans Cyrl 300";

  src: url("../assets/fonts/MUSEOSANSCYRL_0.OTF") ("opentype");
}

*/
