.big-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 32px;
}
.header-logo img {
  width: 14.58vw;
  height: 126px;
}

.header-text {
  width: 7.91vw;
  height: 47px;
  margin: 1%;

  font-weight: 400;
  font-size: 14px;
  font-family: "Museo Sans Cyrl -300";
  color: #282828;
  letter-spacing: 0.7px;
}

.header-map {
  display: flex;
}
.header-map__item {
  margin-left: 1.26vw;
  h3 {
    height: 36px;

    font-weight: 400;
    font-weight: bold;
    font-size: 16px;
    font-family: "Museo Sans Cyrl -700";
    color: #282828;
    letter-spacing: 0.8px;
  }
  p {
    margin-top: -30px;
    margin-bottom: 8px;

    font-family: "Museo Sans Cyrl 300";
    letter-spacing: 0.8px;
  }
  a {
    width: 7.8vw;
    height: 9px;
    margin-top: 15px;

    font-weight: 400;
    font-size: 12px;
    line-height: 0.01px;
    font-family: "Museo Sans Cyrl -500";
    color: #ff6078;
    text-transform: uppercase;
    letter-spacing: 1.2px;

    border-bottom: 1px solid #ff6078;
  }
}

.header-contacts__item {
  display: flex;
}

.phone p {
  position: relative;

  height: 11px;
  margin-bottom: -30px;
  padding-left: 0.8vw;

  font-weight: 400;
  font-size: 12px;
  font-family: "Museo Sans Cyrl -500";
  color: #282828;
  letter-spacing: 0.96px;
}
.phone p::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -0.3vw;

  width: 6px;
  height: 6px;
  margin: 5px auto;

  background: #27b24b;
  border: 1px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 7px rgba(79, 160, 55, 0.61);
}
.phone__item {
  width: 11.65vw;
  height: 17px;
  margin-left: -0.5vw;

  font-weight: 400;
  font-size: 24px;
  font-family: "Museo Sans Cyrl -500";
  color: #282828;
  letter-spacing: 0.6px;
}


.time {
  p {
    width: 144px;
    height: 12px;

    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    font-family: "Museo Sans Cyrl -700";
    font-family: "Museo Sans Cyrl -300";
    color: #282828;
    letter-spacing: 0.8px;
  }
  span {
    font-weight: bold;
    font-family: "Museo Sans Cyrl 700";
    letter-spacing: 0.8px;
  }
}
.header-button {
  width: 12.58vw;
  height: 62px;

  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  font-family: "Museo Sans Cyrl -500";
  color: #1f1d1d;
  letter-spacing: 0.75px;

  background-color: #fefcfb;
  border-radius: 30px;
}

@media (min-width: 1250px) and (max-width: 1400px) {
  .header-text {
    font-size: 12px;
  }
  .phone__item {
    font-size: 18px;
  }
  .time {
    margin-top: 5px;
  }
}

@media (min-width: 1100px) and (max-width: 1249px) {
  .header-text {
    font-size: 12px;
  }
  .phone__item {
    font-size: 18px;
  }
  .time {
    margin-top: 5px;
  }
  .header-button {
    font-size: 12px;
  }
  .header-logo img {
    width: 200px;
    height: 80px;
  }
}
