.intro-title {
  width: 35.63vw;
  height: 206px;
  margin-top: 110px;

  font-weight: 400;
  font-size: 48px;
  font-family: "Museo Sans Cyrl -700";
  color: #282828;
}
.bold-title {
  font-weight: bold;
  font-family: "Museo Sans Cyrl 700";
}
