.intro-title {
  z-index: 2;

  width: 35.63vw;
  height: 206px;
  margin-top: 110px;
  margin-bottom: 100px;
  margin-left: 5.99vw;

  font-weight: 400;
  font-size: 48px;
  font-family: "Museo Sans Cyrl -700";
  color: #282828;
}
.bold-title {
  font-weight: bold;
  font-family: "Museo Sans Cyrl 700";
}

.intro-list {
  width: 23.23vw;
  height: 125px;
  margin-top: 60px;
  margin-left: 4.99vw;

  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  font-family: "Museo Sans Cyrl -300";
  color: #282828;
  letter-spacing: 0.45px;
  li {
    position: relative;
  }
  li::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -2vw;

    width: 8px;
    height: 8px;
    margin: 5px auto;

    background: #ef9399;
    border: 5px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 40px 1px #ef9399;
  }
}
.intro-submit {
  position: relative;

  width: 371px;
  height: 79px;
  margin-top: 62px;
  margin-left: 4.99vw;

  background-image: linear-gradient(to top, rgba(241, 153, 157, 0.47) 0%, rgba(252, 182, 182, 0.99) 98%, #fcb6b6 100%);
  border: 2px solid #ffffff;
  border-radius: 39px;
}

.submit-text {
  position: absolute;
  top: 20px;
  left: 2.5vw;

  font-weight: 400;
  font-size: 14px;
  font-family: "Museo Sans Cyrl -700";
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1.68px;
  text-shadow: 0 1px 5px rgba(210, 110, 116, 0.49);
}
.submit-img {
  position: absolute;
  top: 0;
  left: 14.7vw;
}
.intro-fix-image {
  position: fixed;
  top: 300px;
  left: 1.5vw;
  z-index: 1;

  opacity: 0.7;
}
.row {
  display: flex;
}
.img-side {
  margin-top: 70px;
  margin-left: 5.73vw;
}
.client-card {
  position: relative;
}
.client-info-icon {
  position: absolute;
  top: 174px;
  left: 9vw;
}
.float-background {
  float: right;
  margin-top: 34px;
  margin-left: -9.08vw;
  img {
    width: 53vw;
  }
}
