@import "./normalize.scss";
@import "./fonts.scss";
@import "./header.scss";
@import "./menu.scss";
@import "./intro.scss";
body {
  width: 100%;

  background: url("../assets/images/Слой_1.png") no-repeat center;
  background-size: cover;
}
.conteiner {
  width: 86vw;
  margin-left: 7vw;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

