.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 60px;
  margin-top: 15px;

  background-color: #ffffff;
  border-radius: 5px;
  -webkit-box-shadow: 0 14px 0 -8px rgba(255,255,255,0.5);
     -moz-box-shadow: 0 14px 0 -8px rgba(255,255,255,0.5);
          box-shadow: 0 14px 0 -8px rgba(255,255,255,0.5);
}

.nav-item {
  height: 15px;

  font-weight: 400;
  font-family: "Museo Sans Cyrl 300";
  letter-spacing: 0.75px;
}
.active {
  font-weight: bold;
  color: #282828;
}

.menu {
  position: relative;
}

.vector-image {
  position: fixed;
  top: 83px;
  left: 92.34vw;
}
